$main-color: #183060;
$blue: #007bff;

.container {
	// background-color: rgba(100, 200, 255, 0.5);
}

.item-box {
	display: block;
	width: 32rem;
}

.hero {
	display: none;
	width: 1000px;
	justify-content: center;
	flex-flow: row wrap;
	display: flex;
	align-items: flex-start;
	background-color: red;

	.sub {
		background-color: green;
		height: 500px;
		width: 300px;
		display: block;
	}
}

.item-box > div.item {
	width: 40rem;
	overflow: hidden;
	a.link {
		float: right;
		font-size: 1rem;
		padding: 0 1rem 0 4rem;
		margin: 0.25rem 0;
		text-decoration: none;
		border-bottom: 1px solid #ddd;
		.icon {
			vertical-align: text-bottom;
			height: 1.25rem;
			font-size: 1.25rem;
			line-height: 1.25rem;
			display: none;
			margin-right: 0.5rem;
		}
		time {
			font-size: 1.25rem;
			font-family: 'Roboto Condensed', monospace;
			color: lighten($main-color, 20%);
			font-weight: bold;
			span {
				color: #999;
			}
		}
		&:hover {
			padding-left: 2.5rem;
			border-bottom: 1px solid $main-color;
			.icon {
				display: inline-block;
			}
			time > span {
				color: lighten($main-color, 20%);
			}
		}
	}

	article {
		clear: both;
		p {
			color: red;
			width: 30rem;
			overflow: hidden;
			a {
				text-overflow: ellipsis;
			}
		}
	}
}

.post-box {
	time {
		font-weight: bold;
		font-size: 1rem;
		color: lighten($main-color, 50%);
	}
	a {
		margin-left: 1rem;
		font-size: 1.5rem;
		line-height: 1.5rem;
		width: auto;
		border-bottom: 2px solid transparent;
		&:hover {
			text-decoration: none;
			border-bottom: 2px solid darken($blue, 15%);
		}
	}
}
