$main-color: #183060;
$blue: #007bff;

.post-item {
	width: 100%;
	max-width: 40rem;
	overflow: hidden;
}

a.link, p.link {
	float: right;
	font-size: 1rem;
	line-height: 1.25rem;
	padding: 0.25rem 1rem 0 4rem;
	margin: 1rem 0 1rem;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	.icon {
		vertical-align: text-bottom;
		height: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.25rem;
		display: none;
		margin-right: 0.5rem;
	}
	time {
		font-size: 1.25rem;
		font-family: 'Roboto Condensed', monospace;
		color: lighten($main-color, 20%);
		font-weight: bold;
		span {
			color: #999;
		}
	}
}

p.link {
	cursor: default;
}

a.link:hover {
	padding-left: 2.5rem;
	border-bottom: 1px solid $main-color;
	.icon {
		display: inline-block;
	}
	time > span {
		color: lighten($main-color, 20%);
	}
}

article {
	clear: both;
	p {
		color: red;
		overflow: hidden;
		a {
			text-overflow: ellipsis;
		}
	}
}
