<div class="post-item" *ngIf="data?.ID">
	<a *ngIf="link" class="link" routerLink="/thoughts/{{ data?.ID }}">
		<span class="material-icons-sharp icon">link</span>
		<ng-container *ngTemplateOutlet="time"></ng-container>
	</a>
	<p *ngIf="!link" class="link">
		<ng-container *ngTemplateOutlet="time"></ng-container>
	</p>
	<article [innerHTML]="data.revision.raw"></article>
</div>

<ng-template #time>
	<time>{{ data.tsCreate | date : 'yyyy-MM-dd' }} <span>{{ data.tsCreate | date : 'HH:mm a' }}</span></time>
</ng-template>
