<div class="container">

<p>index works!</p>

</div>

<div class="container">

<p><a class="btn btn-primary" routerLink="/thoughts">thoughs</a></p>
<p><a class="btn btn-primary" (click)="$event.srcElement.blur()" routerLink="/thoughts/1">thoughs 1</a></p>

<br><br><br><br>

<p><button class="btn btn-primary" (click)="test()">test</button></p>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
