<div class="container">

<p>index works!</p>

</div>

<div class="container">

<p><a class="btn btn-primary" routerLink="/thoughts">thoughs</a></p>
<p><a class="btn btn-primary" (click)="$event.srcElement.blur()" routerLink="/thoughts/1">thoughs 1</a></p>

<br><br><br><br>

<p><input type="text" [(ngModel)]="id"></p>

<textarea [(ngModel)]="text" cols="80" rows="10"></textarea>

<p><button class="btn btn-primary" (click)="test()">test</button></p>

<ng-container *ngIf="recent?.length">

<app-item *ngFor="let d of recent" [data]="d"></app-item>
</ng-container>

</div>
