header {

	margin-bottom: 1rem;

	.navbar {
		padding: 0;
	}

	background-color: rgba(24, 48, 96, 1);
	a {
		font-family: 'JetBrains Mono', monospace;
		color: #ccc;
		&:hover {
			* {
				color: #fff;
			}
			color: #fff;
		}
	}

	a.navbar-brand {
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-top: -0.75rem;
		margin-bottom: -0.75rem;
		padding-right: 2rem;
		i {
			width: 2rem;
			font-size: 2rem;
			margin-right: 1rem;
			vertical-align: middle;
			color: #ccc;
			overflow: hidden;
		}
		font-size: 2rem;
		span:nth-of-type(1) {
			font-weight: bold;
		}
		span:nth-of-type(1), span:nth-of-type(2) {
			color: #fff;
		}
		&:hover {
			span, i {
				color: #fff;
			}
			span {
				font-weight: bold;
			}
		}
	}

	a.nav-link {
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
		i {
			width: 1.5rem;
			height: 1.5rem;
			overflow: hidden;
			vertical-align: middle;
		}

		&:hover {
			font-weight: bold;
			background-color: rgba(255, 255, 255, 0.2);
		}
	}

	a.nav-link::after {
		content: '\00a0';
	}

	a.active {
		background-color: rgba(255, 255, 255, 0.1);
		color: #eee;
		text-decoration: underline;
	}
}
