<header>
	<div class="container">
		<nav class="navbar navbar-expand-md">
			<a class="navbar-brand" routerLink="/">
				<i class="material-icons-sharp">developer_board</i>
				<span>Sou</span>
				<span>l</span>
				<span>ogic</span>
			</a>

			<div *ngIf="s.display" class="collapse navbar-collapse">
				<div class="navbar-nav">
					<a *ngFor="let c of s.category" class="nav-item nav-link" [class.active]="s.categorySelect === c.name" [routerLink]="c.link">
						<i class="material-icons-sharp">{{ c.icon }}</i>
						{{ c.name }}
					</a>
				</div>
			</div>
		</nav>
	</div>
</header>
