header {
	background-color: rgba(24, 48, 96, 1);
	a {
		color: #ccc;
		&:hover {
			* {
				color: #fff;
			}
			color: #fff;
		}
	}

	a.navbar-brand {
		margin-top: -0.75rem;
		margin-bottom: -0.75rem;
		padding-right: 2rem;
		i {
			width: 2.5rem;
			font-size: 2.5rem;
			margin-right: 1rem;
			margin-left: -1rem;
			vertical-align: middle;
			color: #ccc;
			overflow: hidden;
		}
		font-size: 2.5rem;
		font-family: 'Roboto Condensed', sans-serif;
		span:nth-of-type(1) {
			font-weight: bold;
		}
		span:nth-of-type(1), span:nth-of-type(2) {
			color: #fff;
		}
		&:hover {
			span, i {
				color: #fff;
			}
		}
	}

	a.nav-link {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	a.active {
		text-decoration: underline;
	}
}
