h1 {
	font-family: "JetBrains Mono", monospace;
	font-size: 2rem;
	margin: 4rem 0 2rem;
	font-weight: 700;
	span {
		font-size: 1.75rem;
		color: gray;
		font-weight: 400;
	}
}

p {
	line-height: 3rem;
	font-size: 1.5rem;
}
